.container {
  display: block;
  color: #007aff;
  border-style: solid;
  border-width: 1px 0;
  border-color: #007aff;
  margin-left: -40px;
  padding-left: 40px;
  background-color: #ebf5ff;
  margin-right: -40px;
  padding-right: 40px;
}
