.container {
  height: 100vh;
  display: flex;
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 174, 159, 0.3);
  border-top: 2px solid #ff2f50;
  border-bottom: 2px solid #ff2f50;
  margin: 20px 50px;
  padding: 40px;
}
.content {
  display: flex;
}
.folder {
  margin: 20px auto;
  height: 50px;
  width: 200px;
  color: #000;
  line-height: 1;
  cursor: pointer;
  border-radius: 0;
  position: relative;
  padding: 13px 20px;
  display: inline-block;
  background-color: transparent;
  border: 2px solid rgb(0, 122, 255);
  overflow: hidden;
}
.folder:before {
  top: 0;
  left: 0;
  right: -3px;
  z-index: -1;
  bottom: -3px;
  content: "\A";
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  will-change: transform;
  background-color: rgb(0, 122, 255);
  -webkit-transform: translate(-6px, -6px);
  transform: translate(-6px, -6px);
}

.link {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ff2f50;
}

h1,
h2 {
  font-family: "Anton", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-family: "PT+Sans|VT323", sans-serif;
  font-size: 12px;
}
.color {
  color: #f8f8f8;
  background-color: #ff2f50;
  color: #7b734c;
  color: #ffae9f;
}
