.container {
  margin: 0 40px;
  background-color: white;
}

.box {
  background-color: #f8f8f8;
  height: 66vh;
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  padding: 40px;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.folder {
  font-family: "Anton", san-serif;
  font-size: 14px;
  font-weight: 400;
}

.footerActions {
  display: flex;
  justify-content: space-evenly;
}
.footerActions a {
  flex: 1;
}

.link {
  padding: 10px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ff2f50;
  position: relative;
}
/* .link:before {
  top: 0;
  left: 0;
  right: -3px;
  z-index: -1;
  bottom: -3px;
  content: "\A";
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  will-change: transform;
  background-color: #1a1a1a;
  -webkit-transform: translate(-6px, -6px);
  transform: translate(-6px, -6px);
} */

h1,
h2 {
  font-family: "Anton", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-family: "PT+Sans|VT323", sans-serif;
  font-size: 12px;
}
.color {
  color: #f8f8f8;
  background-color: #ff2f50;
  color: #7b734c;
  color: #ffae9f;
}
