.body {
  display: flex;
  justify-content: space-between;
}

h1,
h2 {
  font-family: "Anton", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-family: "PT+Sans|VT323", sans-serif;
  font-size: 12px;
}
.color {
  color: #f8f8f8;
  background-color: #ff2f50;
  color: #7b734c;
  color: #ffae9f;
}
