.heading {
  font-family: "Anton", sans-serif;
  font-size: 24px;
}
.subheading {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}

.label {
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 300;
}
.body {
  margin: 20px 0;
}

.body label {
  margin-right: 6px;
}
