.home-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #b68531;
  margin: 25px;
  border-radius: 1px;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 30px;
}

.top-right {
  height: 100vh;
  width: 50vw;
  background-color: #ffcb95;
}
h1 {
  color: #f8f8f8;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 100px;
  text-align: justify;
  padding: 20px;
}
