.container {
  height: 100vh;
  padding: 25px;
  background: white;
}

.page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .name {
  border: 1px solid blue;
  width: 275px;
  height: 175px;
} */
.h1 {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  letter-spacing: 0.55em;
  text-align: justify;
  margin-top: 40px;
  margin-bottom: 35px;
}

.img {
  height: 40vh;
}
span {
  text-align: end;
}
.link {
  font-family: "VT323", sans-serif;
  color: #ff2f50;
  font-size: 32px;
  padding-right: 15px;
}
.link::hover {
  color: blue;
  text-decoration: none;
}
