.home {
  height: 100vh;
  padding: 25px;
}
.page {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #b68531;
}

.name {
  font-size: 70px;
  font-weight: 900;
}

a {
  color: white;
  font-size: 20px;
}
