button.btn {
  min-height: 24px;
  min-width: 100px;
  background: none;
  border-radius: 3px;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

button.btn:hover {
  background-color: transparent;
  text-decoration: underline;
}
