.uploadArea {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  font-size: 10px;
  font-family: "Noto Sans SC", "sans-serif";
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploadArea:not(.dropZone) {
  min-width: 100px;
}

.uploadArea:not(.dropZone):hover {
  text-decoration: underline;
}

.dropZone {
  flex: 1;
  width: 100%;
  margin: 15px;
}
