.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  height: 30px;
  width: 100vw;
  border-bottom: 1px solid black;
}

.uploadContainer {
  display: flex;
  padding: 15px;
}

.selectHeader {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}
