.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: auto 0;
  width: 100vw;
  /* border-bottom: 1px solid black; */
}

.uploadContainer {
  margin: 0 40px;
}

.uploadWrapper {
  display: flex;
  padding: 15px;
  min-height: 300px;
  background-color: #f8f8f8;
  height: 66vh;
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  padding: 40px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
}

.selectHeader button {
  min-width: 100px;
}

.previewCardPlaceholder {
  max-width: 30%;
  width: 30%;
  margin: 15px;
  padding: 2px;
  margin-bottom: 35px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
}

.hidden,
.saved {
  padding: 10px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.saved {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.savedItem {
  text-align: left;
}
