.foldercontainer {
  margin: 0 40px;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 50px;
}

.wrapper {
  text-align: left;
  display: flex;
  padding: 15px;
  min-height: 300px;
  background-color: #f8f8f8;
  height: 66vh;
  display: flex;
  margin: 20px 50px;
  padding: 10px 40px 40px;
}
.link {
  padding: 10px 0;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ff2f50;
  position: relative;
  text-transform: capitalize;
}
p.link {
  cursor: pointer;
  margin: 0;
}

.fileContent {
  overflow: auto;
  padding: 15px;
}

.contentInner {
  display: flex;
}

.filesList {
  min-width: 20%;
  width: 20%;
  margin-right: 20px;
}

.thumb {
  max-width: 40%;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 0;
}

.notes {
  padding: 0 15px;
  max-width: 60%;
}

.notes dd {
  padding: 6px 0 15px;
}

.row {
  display: flex;
}

.row dt {
  margin-right: 6px;
}

.row dd {
  padding: 0 0 15px;
}

.actionLink {
  font-family: "VT323", sans-serif;
  color: #ff2f50;
  font-size: 16px;
  padding-right: 15px;
  border-color: none;
  border-style: none;
  border-width: 0;
  padding: 6px;
  background-color: transparent;
}

.actionLink:hover {
  text-decoration: underline;
}

.actionBar {
  display: flex;
  justify-content: flex-end;
}
