.card {
  width: 30%;
  margin: 15px;
}
.thumbImg {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-height: 300px;
  width: auto;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.actions button {
  flex: 1;
  border-radius: 1px;
  margin: 2px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.formWrapper button {
  border-radius: 1px;
  margin: 10px 6px 0;
  min-width: 100px;
  align-self: flex-end;
}
