.card {
  width: 30%;
  overflow: hidden;
  margin: 15px;
}

.card img {
  height: 300px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.actions button {
  flex: 1;
  border-radius: 1px;
  margin: 2px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.formWrapper button {
  border-radius: 1px;
  margin: 10px 6px 0;
  min-width: 100px;
  align-self: flex-end;
}
